:root {
  --warning-color: #ffc107;
  --secondary-color: #6c757d;
  --secondary-light: #798189bf;
}
.list-group-item:hover {
  background-color: var(--warning-color);
}

.list-group-item {
  background-color: var(--secondary-color);
}

body {
  background-color: rgb(136, 136, 136);
}
