:root {
  --warning-color: #ffc107;
  --secondary-color: #6c757d;
  --secondary-light: #45484abf;
  --secondary-drk: #484c4f;
  --my-font-color-primary: whitesmoke;
  --my-font-primary: "" Lucida Console ", " Courier New ", monospace;";
}
.list-group-item:hover {
  background-color: var(--warning-color);
}

.list-group-item {
  background-color: var(--secondary-color);
}

body {
  background-color: rgb(136, 136, 136);
}

.my-paragraph {
  color: var(--my-font-color-primary);
  font-family: var(--my-font-primary);
}
