.badge {
  animation-name: badge;
  animation-duration: 4s;
  background-color: var(--warning-color);
}

@keyframes badge {
  from {
    background-color: var(--secondary-color);
  }
  to {
    background-color: var(--warning-color);
  }
}

.card-text {
  animation-name: ParaFade;
  animation-duration: 4s;
}

.card-title {
  animation-name: TitleFade;
  animation-duration: 4s;
}

@keyframes ParaFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes TitleFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.acc {
  background-color: var(--secondary-color);
}

.acc-item {
  background-color: var(--secondary-color);
}

.acc-header {
  background-color: var(--secondary-color);
}

.acc-body {
  background-color: var(--secondary-color);
}
