.badge {
  background-color: var(--third-color);
  overflow: auto;
  display: inline-block;
  border-radius: 10px;
  animation: badgefade 4s;
}

.badge-header {
  margin-left: 5px;
  margin-right: 5px;
  animation: badgefade 4s;
  color: var(--first-color);
  font-family: var(--my-font-primary);
}

@keyframes badgefade {
  from {
    background-color: var(--second-grey);
    color: var(--second-grey);
  }
  to {
    background-color: var(--third-color);

    color: var(--first-color);
  }
}
