.accordion-header {
  margin-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  background: var(--secondary-color);
}

.accordion-header-expanded {
  margin-top: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  background: var(--secondary-color);
}

.accordion-header-heading {
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.icon {
  color: var(--warning-color);
  height: 30px;
  width: 30px;
}

.icon-expanded {
  color: var(--warning-color);
  transform: rotate(180deg);
  height: 30px;
  width: 30px;
}

.accordion-body {
  overflow: hidden;
  display: none;
  background-color: var(--secondary-light);
  border-bottom: 2px;
  border-color: var(--warning-color);
}

.accordion-body-paragraph {
  overflow: hidden;
  display: none;
  color: white;
}

.accordion-body-expanded {
  background-color: var(--secondary-light);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px double var(--secondary-color);
  border-left: 2px double var(--secondary-color);
  border-right: 2px double var(--secondary-color);
  margin-bottom: 5px;
  white-space: pre;
}

.accordion-body-paragraph-expanded {
  color: white;
}
