.accordion-header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  background: var(--secondary-color);
}

.accordion-header-expanded {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 12px;
  background: var(--secondary-color);
}

.accordion-header-heading {
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.icon {
  color: red;
}

.accordion-body {
  overflow: hidden;
  display: none;
  background-color: blue;
}

.accordion-body-paragraph {
  overflow: hidden;
  display: none;
  color: red;
}

.accordion-body-expanded {
  background-color: red;
}

.accordion-body-paragraph-expanded {
  color: blue;
}
