.accordion-header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 25px;
  background: var(--secondary-color);
}

.accordion-header-expand {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 25px;
  border: 2px ridge var(--warning-color);
  background: var(--secondary-color);
}

.accordion-header-heading {
  color: white;
  padding: 5px;
  padding-left: 20px;
}

.icon {
  color: red;
}
